import React from 'react'

type {{pascalCase name}}Props = {}

const {{pascalCase name}} = ({}: {{pascalCase name}}Props) => (
  <div>
    <h1>{{pascalCase name}}</h1>
  </div>
)

export default {{pascalCase name}}

